<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ku-leftmenu">
                <f:render partial="Navigation/Subnavigation" arguments="{_all}" />
            </div>
            <main class="col-lg-9 main-content">
                <f:if condition="{pageTitle}">
                    <div class="container page-title">
                        <h1 class="page-heading">{pageTitle}</h1>
                    </div>
                </f:if>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '20'}" />
            </main>
        </div>
    </div>
</f:section>

</html>